.wrapper {
    padding-top: 168px;
    padding-bottom: 272px;
}

.btn-top {
    position: fixed;
    right: 20px;
    bottom: 316px;
    width: 52px;
    height: 52px;
    z-index: 1;
    background: url(/static/images/top-logo.png);
}

.header-wrap {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 168px;
    background: rgb(226, 34, 25);
    z-index: 2;
}

.header {
    position: relative;
    padding: 48px 20px 0 20px;
    margin: 0 auto;
    max-width: 1184px;
}

.header-menu {
    display: inline-block;
    position: absolute;
    top: 10px;
    right: 10px;

}

.top-menu {
    position: relative;
    display: block;
    float: left;
    height: 48px;
    font-size: 14px;
    line-height: 48px;
    padding: 0px 14px;
    color: #fff;
}

.top-menu:not(:nth-child(1))::before {
    content: "";
    position: absolute;
    left: 0px;
    top: 50%;
    width: 1px;
    height: 13px;
    margin-top: -6.5px;
    background: hsla(0, 0%, 100%, .3);
}

.logo {
    display: inline-block;
    width: auto;
    height: 120px;
    padding-left: 80px;
    padding-right: 10px;
    font-weight: 700;
    font-size: 2.25rem;
    color: rgb(255, 255, 255);
    text-indent: 0px;
    line-height: 120px;
    cursor: pointer;
    background: url(/static/images/burgerking-logo.png) 0px center no-repeat;
}

.signup {
    float: right;
    margin-top: 35px;
    width: 168px;
    height: 50px;
    font-size: 25px;
    color: #fff;
    line-height: 50px;
    border: none;
    border-radius: 25px;
    background: rgb(81, 35, 20);
    cursor: pointer;
}

.location {
    height: 58px;
    color: rgb(255, 255, 255);
    line-height: 38px;
    padding: 10px 0px;
    background: rgb(0, 0, 0);
}

.main-location {
    max-width: 1184px;
    margin: 0px auto;
    padding: 0px 20px;
}

.page-nav {
    display: flex;
    font-size: 14px;
}

.location-menu {
    color: white;
}

.location-menu:not(:first-child)::before {
    content: "";
    float: left;
    width: 4px;
    height: 38px;
    margin: 0px 12px;
    background: url(/static/images/next.gif) 50% center no-repeat;
    color: rgb(255, 255, 255);
}

.contentsBox01 {
    padding: 50px 0 45px;
    background-color: #f2ebe6;
}

.container-two {
    max-width: 776px;
    padding: 20px 0;
    margin: 0 auto;

}

.title {
    font-weight: 700;
    font-size: 2.5rem;
    color: rgb(0, 0, 0);
    margin: 0 0 40px;
}

.tit {
    background: url(/static/images/member.png) no-repeat;
    padding: 0 0 0 50px;
    margin: 45px 0 17px 0;
    left: 20px;
}

.content-wrap {
    position: relative;
}

.service {
    font-size: 1.375rem;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px;
    background: rgb(255, 255, 255);
}

.use-list {
    position: relative;
    margin: 15px 0;
    padding: 40px 50px;
}

.use-title {
    padding: 7px 30px 7px 0;
    position: relative;
}


.use-tit {
    position: relative;
    margin-right: 0;
    display: block;
}

input[type=checkbox]+:before {
    background: url(/static/images/checkbox.png) no-repeat 0;
}

input[type=checkbox]+:before {
    content: "";
    display: inline-block;
    width: 32px;
    height: 32px;
    margin-right: 13px;
    vertical-align: middle;
}

.checkbox {
    margin: 0;
    vertical-align: middle;
    font-size: 1em;
    border: none;
    border-radius: 0;
    -webkit-appearance: none;
    opacity: 0;
}

input[type=checkbox]:checked+:before {
    width: 32px;
    height: 32px;
    background-image: url(/static/images/checkbox-1.png);
}


.btn-use {
    position: absolute;
    top: 25%;
    right: 0;
    padding: 0 5px;
    width: 40px;
    height: 20px;
    border: none;
    background-color: #fff;
}

.btn-use::after {
    content: "";
    position: absolute;
    right: 0%;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    background: url(/static/images/updown.png) no-repeat 50%;
    background-size: 15px auto;
}



.use-contents {
    display: none;
    padding: 20px;
    font-size: 1rem;
    line-height: 140%;
    background: #f8f8f8;
}

.use-contents.open {
    display: block;
}


.tit2 {
    margin: 45px 0 17px;
    background: url(/static/images/setting.png) no-repeat;
    padding: 0 0 0 50px;
    left: 20px;
    line-height: 40px;
}

.info-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 210px;
    position: relative;
    margin: 15px 0;
    padding: 20px 50px;
    font-size: 1.375rem;
    background: #fff;
}

.name-content-box {
    display: flex;
}

.phone-content-box,
.certificate-content-box,
.certificate-success-content-box {
    display: none;
}

.phone-content-box.on,
.certificate-content-box.on,
.certificate-success-content-box.on {
    display: flex;
}

.info-list>div>span {
    display: flex;
    padding: 26px 10px 5px 0;
    width: 184px;
    height: 90px;
    font-size: 24px;
    font-weight: 500;
}


.info-list>div>div {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90px;
    margin-left: 80px;
}

.cert-success-text {
    position: absolute;
    padding: 0 5px;
    display: inline-block;
    margin-top: -17.5px;
    right: 0;
    top: 50%;
    line-height: 21px;
    background: url(/static/images/cert-success.png) no-repeat 0,
        url(/static/images/cert-success2.png) no-repeat 100%;
    background-size: auto 100%, auto 100%;
}

.cert-success-text>span {
    padding: 4px 5px;
    line-height: 24px;
    background: #e22219;
    color: #fff;
    font-size: 1rem;
    letter-spacing: 1px;
}

.info-list>div>div>p {
    margin-top: 12px;
    width: 475px;
    height: 17px;
    font-size: 17px;
    color: #e22219;
}



.info-list>div>div>input {
    position: relative;
    width: 475px;
    height: 66px;
    font-size: 24px;
    line-height: 66px;
    border: none;
    outline: none;
    background: url(/static/images/login_input_underline.png) no-repeat bottom;
}

.set-timer {
    position: absolute;
    top: 20px;
    right: 0;
    width: 70px;
    text-align: center;
    color: red;
}

.btn-delete {
    display: none;
    position: absolute;
    top: 0px;
    right: 0px;
    width: 30px;
    height: 63px;
    cursor: pointer;
    border: none;
    text-indent: -9999em;
    background-color: white;
    background: url(/static/images/alldelete.png) no-repeat 50%;
    background-size: 18px auto;
}

.btn-delete.active {
    display: block;
}

.btn-delete>img {
    width: 13px;
    height: auto;
}



.btn-checknumber {
    margin: 40px 0 80px;
    text-align: center;
    overflow: hidden;
}

.send-button-box,
.check-button-box,
.resend-button-box {
    display: none;
}

.send-button-box.on,
.check-button-box.on,
.resend-button-box.on {
    display: block;
}

.send-code-button,
.code-check-button,
.resend-button {
    width: 272px;
    height: 76px;
    padding: 20px 10px 22px;
    font-size: 1.625rem;
    line-height: 34px;
    display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    background: #512314;
    border: 1px solid #512314;
    border-radius: 10px;
    box-sizing: border-box;
    cursor: pointer;
}


.password-title {
    margin: 45px 0 17px;
    background: url(/static/images/passwordkey.png) no-repeat;
    padding: 0 0 0 50px;
    left: 20px;
    line-height: 40px;
}

.order-history {
    position: relative;
    margin: 8px 0 15px;
    padding: 20px 50px;
    font-size: 1.375rem;
    background: #fff;
}

.tit-box {
    margin: -20px -50px 20px;
    padding: 37px 50px;
    font-size: 1.375rem;
    background: #f8f8f8;
}

.check-password {
    display: flex;
    width: 100%;
}

.password-box {
    display: flex;
}

.password-box>span {
    padding: 26px 10px 5px 0;
    top: 0;
    width: 189px;
    height: 206px;
    font-size: 24px;
    font-weight: 700;
}

.inpbox-list {
    display: flex;
    flex-direction: column;
}

.inpbox {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 470px;
    height: 90px;
}

.inpbox>img {
    display: none;
    position: absolute;
    top: 22px;
    right: 2px;
    cursor: pointer;
}

.password-input {
    width: 475px;
    height: 66px;
    font-size: 24px;
    line-height: 66px;
    border: none;
    outline: none;
    background: url(/static/images/login_input_underline.png) no-repeat bottom;
}

.btn-view {
    position: absolute;
    right: 0px;
    width: 30px;
    height: 63px;
    cursor: pointer;
    border: none;
    text-indent: -9999em;
    background-color: white;
    background: url(/static/images/non-view.png) no-repeat 50%;
    background-size: 25px auto;
}

.btn-view.on {
    position: absolute;
    right: 0px;
    width: 30px;
    height: 63px;
    cursor: pointer;
    border: none;
    text-indent: -9999em;
    background-color: white;
    background: url(/static/images/view.png) no-repeat 50%;
    background-size: 25px auto;
}

.footer-contents {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 272px;
}

.footer-under {
    background: #2b0200;
    height: 100%;
}

.footer-detail {
    margin: 0 auto;
    position: relative;
    max-width: 1144px;
    height: 255.39px;
    padding: 47px 0;
}

.footer-service {
    position: absolute;
    top: 42px;
    right: 0;
}

.footer-service>ul {
    width: 280px;
    height: 24px;
}

.footer-service>ul>li {
    display: inline-block;
}

.footer-service>ul>li>a {
    position: relative;
    display: inline-block;
    padding: 5px 10px;
    color: #bba391;
}


.footer-service ul li a::before {
    content: "";
    position: absolute;
    left: 0;
    top: 30%;
    width: 1px;
    height: 12px;
    background: hsla(0, 0%, 100%, .1);
}

.footer-service>li>li>a>span {
    font-size: 14px;
}

.footer-btn {}

.footer-btn>a {
    display: inline-block;
    margin: 12px 0 0 3px;
    padding: 0 32px;
    color: #f5ebdc;
    border: 1px solid rgba(187, 163, 143, .6);
    border-radius: 16px;
    line-height: 30px;
}

.footer-logo {
    margin-bottom: 14px;
    width: 168px;
    height: 20px;
}

.footer-detail>p {
    padding: 2px 0;
    color: #bba391;
}

.footer-detail>:nth-last-child(3) {
    margin-bottom: 20px;
}

.footer-line {
    display: inline-block;
    margin: 0 6px;
    width: 1px;
    height: 12px;
    line-height: 12px;
    background: #bba391;
    vertical-align: middle;
}

.nonmember-order {
    margin: 40px 0 80px;
    text-align: center;
    overflow: hidden;
}

.btn-nonmember-order {
    width: 272px;
    height: 76px;
    padding: 20px 10px 22px;
    font-size: 1.625rem;
    line-height: 34px;
    display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    background: #512314;
    border: 1px solid #512314;
    border-radius: 10px;
    box-sizing: border-box;
    cursor: pointer;
}