<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/delivery/delivery_container.css">
    <link rel="stylesheet" href="/static/css/include/location-wrap.css">
    <link rel="stylesheet" href="/static/css/delivery/delivery_menu.css">
    <link rel="stylesheet" href="/static/css/delivery/delivery-content.css">
    <link rel="stylesheet" href="/static/css/delivery/menu-modal-box.css">
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <title>Document</title>
</head>

<body>
    <div id="container">
        <div class="wrap">
            <th:block th:replace="fragments/delivery/delivery-header :: delivery-header"></th:block>
            <th:block th:replace="fragments/delivery/delivery-header-cart :: delivery-header-cart"></th:block>
            <th:block th:replace="fragments/location-wrap :: location-wrap"></th:block>
            <div class="delivery-menu-container">
                <div class="content-box">
                    <div class="product-wrap">
                        <h2 class="menu-title">메뉴</h2>
                        <ul class="menu-category">
                            <li class="menu-category-tag on">
                                <button type="button" class="menu-category-button on">
                                    <span class="menu-category-text on">스페셜&할인팩</span>
                                </button>
                            </li>
                            <li class="menu-category-tag">
                                <button type="button" class="menu-category-button">
                                    <span class="menu-category-text">프리미엄</span>
                                </button>
                            </li>
                            <li class="menu-category-tag">
                                <button type="button" class="menu-category-button">
                                    <span class="menu-category-text">와퍼</span>
                                </button>
                            </li>
                            <li class="menu-category-tag">
                                <button type="button" class="menu-category-button">
                                    <span class="menu-category-text">주니어&버거</span>
                                </button>
                            </li>
                            <li class="menu-category-tag">
                                <button type="button" class="menu-category-button">
                                    <span class="menu-category-text">치킨버거</span>
                                </button>
                            </li>
                            <li class="menu-category-tag">
                                <button type="button" class="menu-category-button">
                                    <span class="menu-category-text">사이드</span>
                                </button>
                            </li>
                            <li class="menu-category-tag">
                                <button type="button" class="menu-category-button">
                                    <span class="menu-category-text">음료&디저트</span>
                                </button>
                            </li>
                            <li class="menu-category-tag">
                                <button type="button" class="menu-category-button">
                                    <span class="menu-category-text">독퍼</span>
                                </button>
                            </li>
                        </ul>
                    </div>
                    <ul class="product-menu-list">

                    </ul>
                    <div class="modal-full-pop-wrap">
                        <div class="menu-modal-box">
                            <div class="modal-header-wrap">
                                <h2 class="modal-header-title">
                                    메뉴 선택
                                </h2>
                                <button class="modal-close-button"></button>
                            </div>
                            <div class="modal-content-box">
                                <div class="product-introduce">
                                    <div class="introduce-text-box">
                                        <h3 class="product-title">

                                        </h3>
                                        <p class="product-subtext">
                                            <span></span>
                                        </p>
                                    </div>
                                    <div class="product-image-box">
                                        <img src="" alt="">
                                    </div>
                                </div>
                                <ul class="menu-sub-list">
                                </ul>
                            </div>
                        </div>

                        <div class="side-modal-box">
                            <div class="modal-header-wrap">
                                <h2 class="modal-header-title">
                                    사이드 변경
                                </h2>
                                <button class="modal-close-button"></button>
                            </div>
                            <div class="modal-sidemenu-content-box">
                                <ul class="menu-change">

                                </ul>
                            </div>
                            <button type="button" class="choice">
                                <span>선 택</span>
                            </button>
                        </div>

                        <div class="drink-modal-box">
                            <div class="modal-header-wrap">
                                <h2 class="modal-header-title">
                                    음료 변경
                                </h2>
                                <button class="modal-close-button"></button>
                            </div>
                            <div class="modal-drink-content-box">
                                <ul class="drink-change">

                                </ul>
                            </div>
                            <button type="button" class="choice">
                                <span>선 택</span>
                            </button>
                        </div>
                    </div>
                    <div class="order-caution">
                        <div class="title-caution">
                            <h4 class="tit-caution">유의사항</h4>
                            <button type="button" class="info-ingredient">
                                <strong>
                                    원산지, 영양성분, 알레르기 유발성분
                                </strong>
                            </button>
                        </div>
                        <ul>
                            <li>
                                매장별 주문금액이 상이하니, 반드시 최소금액을 확인하기 바랍니다.
                            </li>
                            <li>
                                배달 소요시간은 기상조건이나 매장 사정상 지연 또는 제한될 수 있습니다.
                            </li>
                            <li>
                                고객님과 수 차례 연락을 시도한 후 연락이 되지 않는 경우 배달음식이 변질되거나 부패될 우려로 식품위생법상 위반될 여지가 있어 별도로 보관 하지 않으며,
                                <strong> 재배달 또는 환불처리가 어려울 수 있습니다.</strong>
                            </li>
                            <li>
                                딜리버리 서비스 메뉴의 가격은 매장 가격과 상이하며, 딜리버리 시 타쿠폰을 사용하실 수 없습니다. (일부품목 배달 제외)

                            </li>
                            <li>
                                배달 제품은 매장 행사(할인가격)에서 제외됩니다.
                            </li>
                            <li>
                                제품 가격 및 메뉴 구성은 본사 사정상 변경될 수 있습니다.
                            </li>
                            <li>
                                대량 주문의 경우 콜센터(1599-0505)주문으로만 가능합니다.
                            </li>
                            <li>
                                주문 완료 후 변경 및 취소는 콜센터(1599-0505)에서만 가능합니다.
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <th:block th:replace="fragments/delivery/delivery_footer :: delivery-footer"></th:block>
            <a href="#container" class="btn-top"></a>
        </div>
    </div>
    <script src="/static/js/include/location-wrap.js"></script>
    <script src="/static/js/delivery/delivery-content.js"></script>
    <script src="/static/js/delivery/menu-modal-box.js"></script>
</body>

</html>