<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>멤버십</title>
    <link rel="stylesheet" href="/static/css/include/container.css">
    <link rel="stylesheet" href="/static/css/delivery/membership.css">
</head>

<body>
    <div id="container">
        <div class="wrapper">
            <a href="#container" class="btn-top"></a>
            <div class="header-wrap">
                <div class="container-one">
                    <div class="header">
                        <ul class="header-menu">
                            <a href="" class="top-menu">
                                <span>브랜드홈</span>
                            </a>
                            <a href="" class="top-menu">
                                <span>로그아웃</span>
                            </a>
                            <a href="" class="top-menu">
                                <span>MY킹</span>
                            </a>
                            <a href="" class="top-menu">
                                <span>고객센터</span>
                            </a>
                        </ul>
                        <h1 class="logo">
                            <span>딜리버리</span>
                        </h1>
                        <div class="user">
                            <p>
                                <span>김지훈</span>
                                님 안녕하세요
                            </p>
                            <a href="#">
                                <strong>MY킹 바로가기</strong>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="head-list">
                <div class="blackboard-list">
                    <div class="delivery-order">
                        <a href="#">
                            <p>
                                <strong>딜리버리 주문내역</strong><br>
                                <a>주문내역이 없습니다.</a>
                            </p>
                        </a>
                    </div>
                    <div class="cart">
                        <a href="#">
                            <p>
                                <strong>카트</strong><br>
                                <a>카트에 담은 상품이 없습니다</a>
                            </p>
                        </a>
                    </div>
                </div>
            </div>

            <div class="location">
                <div class="main-location">
                    <div class="page-nav">
                        <div class="menu-list">
                            <a href="" class="location-menu">
                                <span>딜리버리</span>
                            </a>
                            <a href="" class="location-menu">
                                <span>MY킹</span>
                            </a>
                            <a href="" class="location-menu">
                                <span>멤버십</span>
                            </a>
                        </div>
                    </div>
                    <div class="destination">
                        <p class="address">
                            <img src="/static/images/pin.png" alt="">
                        </p>
                        <span>배달지를 선택하세요</span>
                        <span class="btn">
                            <a href="#">
                                <span>변경</span>
                            </a>
                        </span>
                    </div>
                </div>
            </div>
            <div class="membership">
                <div class="membership-title">
                    <h2 class="membership-tit">멤버십</h2>
                </div>
                <div class="myhistory">
                    <div class="membership-info">
                        <p class="user-info">
                            <strong>김지훈 님!</strong>
                            <span>반갑습니다</span>
                        </p>
                        <div class="links">
                            <a href="#">
                                <span>정보변경</span>
                            </a>
                            <a href="#">
                                <span>MY배달지</span>
                            </a>
                        </div>
                    </div>
                    <div class="coupon-info">
                        <div class="info-membership-welcome">
                            <a href="#">
                                <span>멤버십</span>
                                <div class="welcome">
                                    <strong>WELCOME</strong>
                                </div>
                            </a>
                        </div>
                        <div class="info-membership-coupon">
                            <a href="#">
                                <span>나의 쿠폰</span>
                                <div class="coupon">
                                    <strong>멤버십0 딜리버리0</strong>
                                </div>
                            </a>
                        </div>
                        <div class="info-membership-order">
                            <a href="#">
                                <div class="order">
                                    <strong>주문이력</strong>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="all-contentsBox">
                <div class="contentsBox01">
                    <div class="contents01">
                        <div class="grade">
                            <div class="level">WELCOME</div>
                        </div>
                        <div class="level-wrap">
                            <div class="level-graph">
                                <div class="pointer" style="left: 0%;"></div>
                                <div class="bar"></div>
                                <div class="progress" style="width: 0%;"></div>
                                <div class="member-smallball"></div>
                            </div>
                            <div class="level-info">
                                <div>
                                    <span>
                                        <strong>
                                            <span>10,000</span>
                                            원 추가 구매시
                                        </strong>
                                        ,
                                        <strong class="level-add">
                                            JUNIOR
                                        </strong>
                                    </span>
                                </div>
                                <span>다음달 예상 등급</span>
                                <strong class="level-next">WELCOME</strong>
                            </div>
                        </div>
                    </div>
                    <div class="contents02">
                        <div class="nav-membership">
                            <ul>
                                <li class="membership-welcome on">
                                    <button type="button" class="membership-button">
                                        <span>WELCOME</span>
                                    </button>
                                </li>
                                <li class="membership-junior">
                                    <button type="button"
                                    class="membership-button">
                                        <span>JUNIOR</span>
                                    </button>
                                </li>
                                <li class="membership-whopper">
                                    <button type="button"
                                    class="membership-button">
                                        <span>WHOPPER</span>
                                    </button>
                                </li>
                                <li class="membership-king">
                                    <button type="button"
                                    class="membership-button">
                                        <span>KING</span>
                                    </button>
                                </li>
                            </ul>
                        </div>
                        <div class="level-class">
                            <div class="benefits on">
                                <div class="item-welcome-coupon">
                                    <strong>회원전용 특가</strong>
                                    쿠폰 (매장용)
                                </div>
                                <div class="item-birthday">
                                    <strong>생일</strong>
                                    쿠폰
                                </div>
                            </div>
                            <div class="benefits">
                                <div class="item-coupon-ticket">
                                    <strong>주니어등급 전용 특가</strong>
                                </br>쿠폰 (매장용)
                                </div>
                                <div class="item-levelup">
                                    <strong>
                                        승급 축하 와퍼주니어</br>
                                        무료
                                    </strong>
                                    쿠폰
                                </div>
                                <div class="item-level">
                                    <strong>1천원 할인</strong>
                                    </br>쿠폰
                                </div>
                                <div class="item-birthday">
                                    <strong>생일</strong>
                                    쿠폰
                                </div>
                            </div>
                            <div class="benefits">
                                <div class="item-coupon-ticket">
                                    <strong>와퍼등급 전용 특가</strong>
                                    </br>쿠폰 (매장용)
                                </div>
                                <div class="item-levelup">
                                    <strong>
                                        승급 축하 와퍼 단품</br>
                                        무료
                                    </strong>
                                    쿠폰
                                </div>
                                <div class="item-americano">
                                    <strong>아메리카노 교환</strong>
                                    </br>쿠폰 1매
                                </div>
                                <div class="item-level">
                                    <strong>2천원 할인</strong>
                                    </br>쿠폰
                                </div>
                                <div class="item-birthday">
                                    <strong>생일</strong>
                                    쿠폰
                                </div>
                            </div>
                            <div class="benefits">
                                <div class="item-coupon-ticket">
                                    <strong>킹등급 전용 특가</strong>
                                    </br>쿠폰 (매장용)
                                </div>
                                <div class="item-levelup">
                                    <strong>
                                        승급 축하 와퍼 세트</br>
                                        무료
                                    </strong>
                                    쿠폰
                                </div>
                                <div class="item-americano">
                                    <strong>아메리카노 교환</strong>
                                    </br>쿠폰 3매
                                </div>
                                <div class="item-level">
                                    <strong>3천원 할인</strong>
                                    <br>쿠폰
                                </div>
                                <div class="item-birthday">
                                    <strong>생일</strong>
                                    쿠폰
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="content03">
                        <div class="guide-title">
                            <h4>멤버십 적립 및 등급 관련 안내</h4>
                        </div>
                        <ul class="list01">
                            <li>본 멤버십 서비스는 2021년 12월 14일 오전 9시부터 시작됩니다.</li>
                            <li>멤버십 등급은 직전 3개월 간의 순수 구매금액 기준으로 산정되어 매월 1일 오전 09시에 업데이트 됩니다.</li>
                            <li>
                                <strong>멤버십등급 산정 기준</strong>
                                <ul class="line">
                                    <li>
                                        <strong>혜택기간</strong>
                                        <span class="period">매월 1일 오전 09시부터 1개월</span>
                                    </li>
                                    <li>
                                        <strong>산정기간</strong>
                                        <span>직전 3개월 간 순수 구매금액</span>
                                        <span>(직전 3개월 전 1일 ~ 전월 말일)</span>
                                    </li>
                                    <li>
                                        <strong>순수 구매금액 산정 방법</strong><br>
                                        <div class="line-subtitle">
                                            온라인/오프라인 합산
                                        </div>
                                        <ul class="list02">
                                            <li>
                                                온라인의 경우 버거킹 앱으로 로그인 후 딜리버리 혹은 킹오더 주문을 한 경우에 한하여 인정되며, 오프라인의 경우 키오스크 혹은 POS 주문 시 버거킹 앱 내 ‘멤버십 바코드’ 인식 후 혹은 바코드를 인식하지 않더라도
                                                멤버십 쿠폰이 포함된 주문 완료된 건에 한하여 인정됩니다.
                                            </li>
                                            <li>
                                                주문이 완료된 이후의 추후 적립은 불가합니다.
                                            </li>
                                            <li>
                                                전화 주문, 비회원 딜리버리 및 비회원 킹오더 주문금액은 제외됩니다.
                                            </li>
                                            <li>
                                                배달팁 및 쿠폰 등 할인금액은 제외됩니다.
                                            </li>
                                            <li>
                                                취소 또는 반품된 건에 대한 주문금액은 제외됩니다.
                                            </li>
                                        </ul>
                                        <div class="text">
                                            *2021년 12월 ~ 2022년 3월까지는 아래 기준에 따라 멤버십 등급이 업데이트 됩니다.
                                        </div>
                                        <div class="graph">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">대상시간</th>
                                                        <th scope="col">
                                                            멤버십 등급
                                                            <span>업데이트 시점</span>
                                                        </th>
                                                        <th scope="col">산정기간</th>
                                                    </tr>
                                                </thead>
                                                <tbody class="text-center">
                                                    <tr>
                                                        <td>2021년 12월</td>
                                                        <td>
                                                            2021.12.14
                                                            <span>오전 09시</span>
                                                        </td>
                                                        <td>모든 회원 Welcome 등급</td>
                                                    </tr>
                                                    <tr>
                                                        <td>2022년 1월</td>
                                                        <td>
                                                            2022.01.01
                                                            <span>오전 09시</span>
                                                        </td>
                                                        <td>21.12.14 09시 ~ 21.12.31 (18일)</td>
                                                    </tr>
                                                    <tr>
                                                        <td>2022년 2월</td>
                                                        <td>
                                                            2022.02.01
                                                            <span>오전 09시</span>
                                                        </td>
                                                        <td>21.12.14 09시 ~ 22.01.31 (49일)</td>
                                                    </tr>
                                                    <tr>
                                                        <td>2022년 3월</td>
                                                        <td>
                                                            2022.03.01
                                                            <span>오전 09시</span>
                                                        </td>
                                                        <td>21.12.14 09시 ~ 22.02.28 (77일)</td>
                                                    </tr>
                                                    <tr>
                                                        <td>2022년 4월 이후</td>
                                                        <td>
                                                            매월 1일
                                                            <span>오전 09시</span>
                                                        </td>
                                                        <td>직전 3개월</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                일부 제외 매장 멤버십 적립 불가합니다.
                            </li>
                        </ul>
                        <br>
                        <div class="guide-coupon">
                            <h5>멤버십 쿠폰 관련 안내</h5>
                        </div>
                        <ul class="list03">
                            <li>멤버십 쿠폰은 매월 1일 발급되며, 해당월 말일까지 사용 가능합니다. 기간 내 사용하지 않은 등급 쿠폰은 이월되거나 재발급 되지 않습니다.</li>
                            <li>멤버십 쿠폰은 타 쿠폰과 중복하여 사용할 수 없습니다.</li>
                            <li>승급 혜택 쿠폰은 최초 승급 시 1회만 제공됩니다.</li>
                            <li>멤버십 쿠폰 발급 시 해당 등급에 대한 혜택만 제공되며, 하위 등급에 대한 혜택은 합산되어 제공되지 않습니다.</li>
                            <li>멤버십 혜택은 버거킹 운영정책에 따라 향후 변경될 수 있습니다.</li>
                            <li>일부 제외 매장 사용 불가합니다.</li>
                            <li>생일 쿠폰은 MY킹 > 정보변경에서 생일정보 입력 회원 대상 연 1회 발급되며, 발급 후 미사용 시 재발급 되지 않습니다.</li>
                        </ul>
                        <br>
                        <div class="excluded-store">
                            <h5>멤버십 적립 제외 매장</h5>
                        </div>
                        <div class="stores">
                            경기양평점, 경남대점, 경남사천점, 경남삼천포점, 경북영주가흥점, 경주보문점, 광양LF스퀘어점, 광양중동점, 광주봉선점, 광주월계점, 광주첨단2지구점, 광주터미널점, 구미인의점, 군산나운FS점, 군산수송점, 김포현대아울렛, 김해아이스퀘어몰점, 나주빛가람점, 당진읍내점, 대명비발디점, 대전관평점, 대전시청점, 대전현대아울렛점, 목포하당점, 보령동대점, 삼성라이온즈파크점, 오산궐동점, 오션월드점, 원주기업도시점, 의정부HP점, 인천공항1점, 인천공항교통센터1점, 전남도청점, 전북대점, 전주중앙점, 제천CGV점, 지산리조트점, 진주경상대점, 진주혁신도시점, 천안쌍용대로DT점, 충남도청점, 호남대점
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-contents">
                <div class="footer-under">
                    <div class="footer-detail">
                        <div class="footer-service">
                            <ul>
                                <li>
                                    <a href="">
                                        <span>이용약관</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <span>개인정보취급방침</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <span>법적고지</span>
                                    </a>
                                </li>
                            </ul>
                            <div class="footer-btn">
                                <a href="">
                                    <span>인재채용</span>
                                </a>
                                <a href="">
                                    <span>가맹점모집</span>
                                </a>
                            </div>
                        </div>
                        <img src="/static/images/logo.png" class="footer-logo" alt="">
                        <p>
                            서울 종로구 삼봉로 71 G 타워 2층 주식회사 비케이알
                            <span class="footer-line"></span>
                            전화주문 1599-0505
                        </p>
                        <p>
                            사업자 등록번호 101-86-76277
                            <span class="footer-line"></span>
                            (주)BKR 대표이사 문영주
                        </p>
                        <p>Copyright 2019 BKR Co., Ltd. All right Reserved</p>
                        <img src="/static/images/footer-facebook.png" alt="">
                        <img src="/static/images/footer-insta.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/static/js/delivery/membership.js"></script>
</body>

</html>