<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/include/container.css">
    <link rel="stylesheet" href="/static/css/delivery/membership.css">
</head>

<body>
    <div id="container">
        <div class="wrapper">
            <!-- <a href="#container" class="btn-top"></a> -->
            <div class="header-wrap">
                <div class="container-one">
                    <div class="header">
                        <ul class="header-menu">
                            <a href="" class="top-menu">
                                <span>브랜드홈</span>
                            </a>
                            <a href="" class="top-menu">
                                <span>로그아웃</span>
                            </a>
                            <a href="" class="top-menu">
                                <span>MY킹</span>
                            </a>
                            <a href="" class="top-menu">
                                <span>고객센터</span>
                            </a>
                        </ul>
                        <h1 class="logo">
                            <span>딜리버리</span>
                        </h1>
                        <div class="user">
                            <p>
                                <span>김지훈</span>
                                님 안녕하세요
                            </p>
                            <a class>
                                <strong>MY킹 바로가기</strong>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="head-list">
                <div class="blackboard-list">
                    <div class="delivery-order">
                        <p>
                            <strong>딜리버리 주문내역</strong><br />
                            <a>주문내역이 없습니다.</a>
                        </p>
                    </div>
                    <div class="cart">
                        <p>
                            <strong>카트</strong><br />
                            <a>카트에 담은 상품이 없습니다</a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="location">
                <div class="main-location">
                    <div class="page-nav">
                        <div class="menu-list">
                            <a href="" class="location-menu">
                                <span>딜리버리</span>
                            </a>
                            <a href="" class="location-menu">
                                <span>MY킹</span>
                            </a>
                            <a href="" class="location-menu">
                                <span>멤버십</span>
                            </a>
                        </div>
                    </div>
                    <div class="destination">
                        <p class="address">
                            <img src="/static/images/pin.png" alt="">
                        </p>
                        <span>배달지를 선택하세요</span>
                        <span class="btn">
                            <a href="#">
                                <span>변경</span>
                            </a>
                        </span>
                    </div>
                </div>
            </div>
            <div class="membership">
                <div class="membership-title">
                    <h2 class="membership-tit">멤버십</h2>
                </div>
                <div class="myhistory">
                    <div class="membership-info">
                        <p class="user-info">
                            <strong>김지훈 님!</strong>
                            <span>반갑습니다</span>
                        </p>
                        <div class="links">
                            <a href="#">
                                <span>정보변경</span>
                            </a>
                            <a href="#">
                                <span>MY배달지</span>
                            </a>
                        </div>
                    </div>
                    <div class="coupon-info">
                        <div class="info-membership-welcome">
                            <span>멤버십</span>
                            <div class="welcome">
                                <strong>WELCOME</strong>
                            </div>
                            <a href="#"></a>
                        </div>
                        <div class="info-membership-coupon">
                            <span>나의 쿠폰</span>
                            <div class="coupon">
                                <strong>멤버십0 딜리버리0</strong>
                            </div>
                            <a href="#"></a>
                        </div>
                        <div class="info-membership-order">
                            <div class="order">
                                <strong>주문이력</strong>
                            </div>
                            <a href="#"></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="all-contentsBox">
                <div class="contentsBox01">
                    <div class="contents01">
                        <div class="grade">
                            <div class="level">WELCOME</div>
                        </div>
                        <div class="level-wrap">
                            <div class="level-graph">
                                <div class="pointer" style="left: 0%;"></div>
                                <div class="bar"></div>
                                <div class="progress" style="width: 0%;"></div>
                                <div class="member-smallball"></div>
                            </div>
                            <div class="level-info">
                                <div>
                                    <span>
                                        <strong>
                                            <span>10,000</span>
                                            원 추가 구매시
                                        </strong>
                                        ,
                                        <strong class="level-add">
                                            JUNIOR
                                        </strong>
                                    </span>
                                </div>
                                <span>다음달 예상 등급</span>
                                <strong class="level-next">WELCOME</strong>
                            </div>
                        </div>
                    </div>
                    <div class="contents02">
                        <div class="nav-membership">
                            <ul>
                                <li class="on">
                                    <button type="button">
                                        <span>WELCOME</span>
                                    </button>
                                </li>
                                <li class="">
                                    <button type="button">
                                        <span>JUNIOR</span>
                                    </button>
                                </li>
                                <li class="">
                                    <button type="button">
                                        <span>WHOPPER</span>
                                    </button>
                                </li>
                                <li class="">
                                    <button type="button">
                                        <span>KING</span>
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
</body>

</html>