<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>나의 쿠폰</title>
    <link rel="stylesheet" href="/static/css/include/container.css">
    <link rel="stylesheet" href="/static/css/delivery/mycoupon.css">
</head>
<body>
    <div id="container">
        <div class="wrapper">
            <a href="#container" class="btn-top"></a>
            <div class="header-wrap">
                <div class="container-one">
                    <div class="header">
                        <ul class="header-menu">
                            <a href="" class="top-menu">
                                <span>브랜드홈</span>
                            </a>
                            <a href="" class="top-menu">
                                <span>로그아웃</span>
                            </a>
                            <a href="" class="top-menu">
                                <span>MY킹</span>
                            </a>
                            <a href="" class="top-menu">
                                <span>고객센터</span>
                            </a>
                        </ul>
                        <h1 class="logo">
                            <span>딜리버리</span>
                        </h1>
                        <div class="user">
                            <p>
                                <span>김지훈</span>
                                님 안녕하세요
                            </p>
                            <a href="#">
                                <strong>MY킹 바로가기</strong>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="head-list">
                <div class="blackboard-list">
                    <div class="delivery-order">
                        <a href="#">
                            <p>
                                <strong>딜리버리 주문내역</strong><br>
                                <a>주문내역이 없습니다.</a>
                            </p>
                        </a>
                    </div>
                    <div class="cart">
                        <a href="#">
                            <p>
                                <strong>카트</strong><br>
                                <a>카트에 담은 상품이 없습니다</a>
                            </p>
                        </a>
                    </div>
                </div>
            </div>
    
            <div class="location">
                <div class="main-location">
                    <div class="page-nav">
                        <div class="menu-list">
                            <a href="" class="location-menu">
                                <span>딜리버리</span>
                            </a>
                            <a href="" class="location-menu">
                                <span>MY킹</span>
                            </a>
                            <a href="" class="location-menu">
                                <span>딜리버리</span>
                            </a>
                        </div>
                    </div>
                    <div class="destination">
                        <p class="address">
                            <img src="/static/images/pin.png" alt="">
                        </p>
                        <span>배달지를 선택하세요</span>
                        <span class="btn">
                            <a href="#">
                                <span>변경</span>
                            </a>
                        </span>
                    </div>
                </div>
            </div>
            <div class="membership">
                <div class="membership-title">
                    <h2 class="membership-tit">
                        MY킹
                        <span>>쿠폰</span>
                    </h2>
                </div>
                <div class="myhistory">
                    <div class="membership-info">
                        <p class="user-info">
                            <strong>김지훈 님!</strong>
                            <span>반갑습니다</span>
                        </p>
                        <div class="links">
                            <a href="#">
                                <span>정보변경</span>
                            </a>
                            <a href="#">
                                <span>MY배달지</span>
                            </a>
                        </div>
                    </div>
                    <div class="coupon-info">
                        <div class="info-membership-welcome">
                            <a href="#">
                                <span>멤버십</span>
                                <div class="welcome">
                                    <strong>WELCOME</strong>
                                </div>
                            </a>
                        </div>
                        <div class="info-membership-coupon">
                            <a href="#">
                                <span>나의 쿠폰</span>
                                <div class="coupon">
                                    <strong>멤버십0 딜리버리0</strong>
                                </div>
                            </a>
                        </div>
                        <div class="info-membership-order">
                            <a href="#">
                                <div class="order">
                                    <strong>주문이력</strong>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="all-contentsBox">
                <div class="contentsBox01">
                    <div class="nodata">
                        <p>쿠폰 목록이 없습니다.</p>
                    </div>
                </div>
            </div>

            <div class="footer-contents">
                <div class="footer-under">
                    <div class="footer-detail">
                        <div class="footer-service">
                            <ul>
                                <li>
                                    <a href="">
                                        <span>이용약관</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <span>개인정보취급방침</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <span>법적고지</span>
                                    </a>
                                </li>
                            </ul>
                            <div class="footer-btn">
                                <a href="">
                                    <span>인재채용</span>
                                </a>
                                <a href="">
                                    <span>가맹점모집</span>
                                </a>
                            </div>
                        </div>
                        <img src="/static/images/logo.png" class="footer-logo" alt="">
                        <p>
                            서울 종로구 삼봉로 71 G 타워 2층 주식회사 비케이알
                            <span class="footer-line"></span>
                            전화주문 1599-0505
                        </p>
                        <p>
                            사업자 등록번호 101-86-76277
                            <span class="footer-line"></span>
                            (주)BKR 대표이사 문영주
                        </p>
                        <p>Copyright 2019 BKR Co., Ltd. All right Reserved</p>
                        <img src="/static/images/footer-facebook.png" alt="">
                        <img src="/static/images/footer-insta.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>