.content-wrap {
    margin: 0 auto;
    min-height: 450px;
}

/* .location-wrap {
    padding: 10px 0;
    height: 58px;
    color: #fff;
    line-height: 38px;
    background: #000;
}

.page-nav {
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: flex-start;
    max-width: 1184px;
}

.page-nav>a>span {
    color: #fff;
}

.page-nav>:nth-child(2)::before {
    margin: 0 12px;
    float: left;
    content: "";
    width: 4px;
    height: 38px;
    color: #fff;
    background: url(/static/images/page_nav_arrow.gif) no-repeat 50%;
}
 */
.content-box {
    padding: 50px 0 45px;
    background-color: #fff;
}

.product-wrap {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    max-width: 1144px;
    margin: 0 auto;
}

.menu-title {
    display: inline-block;
    font-size: 40px;
    letter-spacing: 1px;
}

.menu-category {
    display: flex;
    height: 35px;
    line-height: 35px;
}

.menu-category-tag {
    padding: 0 14px;
}

.menu-category-tag.on {}


.menu-category-button {
    border: 0 solid transparent;
    background: transparent;
    cursor: pointer;
    height: 35px;
}


.menu-category-button.on {
    border-bottom: 2px solid #e22219;
}

.menu-category-text {
    font-size: 18px;
    color: #b8b8b8;
}

.menu-category-text:hover {
    color: black;
}

.menu-category-text.on {
    color: #e22219;
}

.product-menu-list {
    margin: 0 auto;
    margin-top: 60px;
    padding-bottom: 46px;
    width: 1144px;
}

.product-menu-list>li {
    position: relative;
    margin-bottom: 8px;
    width: 280px;
    height: 300px;
    display: inline-block;
    cursor: pointer;
}

.product-img {
    margin: 0 auto;
    max-width: 220px;
    height: 144px;
    overflow: hidden;
}

.product-img>img {
    max-width: 100%;
    max-height: 100%;
}

.menu-content {
    min-height: 115px;
    padding: 30px 5px 0;
    text-align: center;
}

.detail-title {
    font-size: 21px;
}

.btn-detail {
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    left: 0;
    top: 0;
}