.content-wrap {
    margin: 0 auto;
    min-height: 450px;
}

.location-wrap {
    padding: 10px 0;
    height: 58px;
    color: #fff;
    line-height: 38px;
    background: #000;
}

.page-nav {
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: flex-start;
    max-width: 1184px;
}

.page-nav>a>span {
    color: #fff;
}

.page-nav>:not(:first-child)::before {
    margin: 0 12px;
    float: left;
    content: "";
    width: 4px;
    height: 38px;
    color: #fff;
    background: url(/static/images/page_nav_arrow.gif) no-repeat 50%;
}

.main-product-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    color: #fff;
    background: #130101 url(/static/images/detail/background_img.png) no-repeat 50%;
}

.product-container {
    display: flex;
    padding: 0 20px;
    max-width: 1184px;
}

.product-name {
    font-size: 4rem;
    letter-spacing: 2px;
    line-height: 100%;
}

.product-summary-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 651.2px;
}

.product-summary-box>p {
    margin-top: 14px;
    line-height: 21px;
}

.product-summary {
    font-size: 1.5rem;
}

.product-image {
    height: 330px;
}

.product-image>img {
    width: auto;
    height: 100%;
}

.menu-subinfo-wrap {
    height: 88px;
    background: url(/static/images/detail/subinfo.png) repeat top;
}

.nutrition-box {
    display: flex;
    justify-content: space-between;
    max-width: 1184px;
    margin: 0 auto;
    padding: 20px 20px;
}

.back-button {
    height: 48px;
    padding-left: 28px;
    font-size: 1.3rem;
    color: #fff;
    line-height: 50px;
    background: url(/static/images/detail/back_arrow.png) no-repeat 0;
}

.nutrition-button {
    height: 44px;
    padding: 5px 17px 5px 19px;
    font-size: 1.3rem;
    background: #fff;
    border-radius: 6px;
}

.nutrition-button>strong>span {
    position: relative;
    padding-right: 28px;
}

.nutrition-button>strong>span::after {
    content: "";
    position: absolute;
    right: -5px;
    top: 40%;
    width: 24px;
    height: 24px;
    margin-top: -12px;
    background: url(/static/images/detail/nutrition.png) no-repeat 100%;
}

.detail-product-content {
    display: flex;
    justify-content: center;
    padding: 50px 0 45px;
    background: #fff;
}

.detail-product-list {
    display: flex;
    justify-content: center;
    min-width: 1184px;
    max-width: 1184px;
    margin: 60px auto 0;
    padding: 0 20px 46px;
}

.detail-product-list li {
    display: inline-block;
    width: 33%;
    border-left: 1px solid #e9e9e9;
}

.detail-product-list>:first-child {
    border-left: 0;
}


.detail-product-img {
    margin: 0 auto;
    max-width: 296px;
    height: 194px;
    overflow: hidden;
}

.detail-product-img>img {
    max-width: 100%;
    max-height: 194px;
}

.detail-summary-box {
    min-height: 165px;
    padding: 40px 10px 10px;
    text-align: center;
}

.detail-product-title {
    font-size: 2rem;
    width: 340px;
    word-break: keep-all;
}

.detail-product-summary {
    margin-top: 20px;
    width: 330px;
    font-size: 1.3rem;
}

.detail-product-summary>span {
    display: inline-block;
    word-break: keep-all;
}

.othermenu-container {
    margin: 0 auto;
    padding-top: 75px;
    max-width: 1184px;
}

.title-box {
    font-size: 2.2rem;
    text-align: center;
    letter-spacing: 2px;
}


.othermenu-list-box {
    height: 290px;
    margin-top: 55px;
    padding-bottom: 40px;
}

.othermenu-list {
    overflow: hidden;
    overflow-x: scroll;
    margin: 0 70px;
    display: flex;
}

.othermenu-list>li {
    min-width: 261px;
    height: 200px;
    cursor: pointer;
}

.othermenu-img {
    margin: 0 auto;
    max-width: 216px;
    height: 142px;
    text-align: center;
    overflow: hidden;
}

.othermenu-img>img {
    max-width: 100%;
    max-height: 100%;
}

.othermenu-name-box {
    padding: 20px 15px;
    font-size: 18px;
    text-align: center;
}