.location-wrap {
    padding: 10px 0;
    height: 58px;
    color: #fff;
    line-height: 38px;
    background: #000;
}

.page-nav {
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: flex-start;
    max-width: 1184px;
}

.page-nav>a>span {
    color: #fff;
}

.page-nav>:not(:first-child)::before {
    margin: 0 12px;
    float: left;
    content: "";
    width: 4px;
    height: 38px;
    color: #fff;
    background: url(/static/images/page_nav_arrow.gif) no-repeat 50%;
}