<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/index.css">
    <title>Document</title>
</head>

<body>
    <div id="container">
        <th:block th:replace="fragments/header :: header-nav"></th:block>

        <div class="wrap">
            <div class="contentsBox01">
                <div class="web-container">
                    <div id="slickBanner" class="slickslider">
                        <button class="btn-left">1</button>
                    </div>
                    <div class="">    
                        <button class="btn-right">2</button>
                    </div>
                </div>
            </div>

            <div class="contentsBox02">
                <iframe width="1440" height="605" src="https://www.youtube.com/embed/KUmrD90Q8I8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>

            <div class="sns-Box">
                <div class="web-container">
                    <ul class="list">
                        <li class="youtube">
                            <div class="content">
                                <strong class="tit">YouTube</strong>
                                <strong class="status">구독4.9만</strong>
                                <a href="https://www.youtube.com/channel/UCEKRI0fipK4LEgV98nI2CQA/featured" class="btn-detail"></a>
                            </div>
                        </li>
                        <li class="facebook">
                            <div class="content">
                                <strong class="tit">FACEBOOK</strong>
                                <strong class="status">좋아요 47.8만</strong>
                                <a href="https://www.facebook.com/burgerkingkorea" class="btn-detail"></a>
                            </div>
                        </li>
                        <li class="instagram">
                            <strong class="tit">INSTAGRAM</strong>
                            <strong class="status">팔로워 74.9K</strong>
                            <a href="https://www.instagram.com/accounts/login/?next=/burgerkingkorea/" class="btn-detail"></a>
                        </li>
                    </ul>
                </div>
            </div>
            
            <div class="burgerking-guide">
                <div class="web-container">
                    <div class="app-box">
                        <a href=""></a>
                    </div>
                    <div class="delivery-box">
                        <a href=""></a>
                    </div>
                </div>
            </div>
        </div>

        <th:block th:replace="fragments/footer :: footer"></th:block>
        <th:block th:replace="fragments/config :: configFragment"></th:block>
    </div>
</body>

</html>