<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/index2.css">
    <title>Document</title>
</head>

<body>
    <div id="container">
        <th:block th:replace="fragments/header :: header-nav"></th:block>
        <div class="wrap">
            <div class="content-wrap">
                <div class="main-slide">
                    <img src="/static//images/slider-first.png" class="slider-first" alt="">
                </div>
                <div class="movie-box">
                    <iframe width="1440" height="610" src="https://www.youtube.com/embed/KUmrD90Q8I8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div class="sns-box">
                    <ul class="sns-buttons">
                        <li>
                            <a href="" class="sns-buttons-box">
                                <div class="cont">
                                <img src="/static/images/youtube-logo.png" alt="">
                                <div>
                                <strong class="title">YOUTUBE</strong>
                                <strong class="status">구독4.9만</strong>
                            </div>
                            </div>
                            </a>
                        </li>
                        <li>
                            <a href="" class="sns-buttons-box">
                                <div class="cont">
                                <img src="/static/images/youtube-logo.png" alt="">
                                <div>
                                <strong class="title">YOUTUBE</strong>
                                <strong class="status">구독4.9만</strong>
                            </div>
                            </div>
                            </a>
                        </li>
                        <li>
                            <a href="" class="sns-buttons-box">
                                <div class="cont">
                                <img src="/static/images/youtube-logo.png" alt="">
                                <div>
                                <strong class="title">YOUTUBE</strong>
                                <strong class="status">구독4.9만</strong>
                            </div>
                            </div>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="guide-box">
                    <div class="app-box">
                        <img src="/static/images/burgerking-app.png" alt="">
                    </div>
                    <div class="delivery-box">
                        <img src="/static/images/burgerking-delivery.png" alt="">
                    </div>
                </div>
            </div>
            <th:block th:replace="fragments/footer :: footer"></th:block>
            <th:block th:replace="fragments/config :: configFragment"></th:block>
        </div>
    </div>
</body>

</html>