<header th:fragment="delivery-header">
    <link rel="stylesheet" href="/static/css/include/delivery/delivery-header.css">
    <div class="header-main">
        <div class="header-main-menu">
            <div class="header-container">
                <h1 class="burgerking-logo">
                    딜리버리
                </h1>
                <div class="mypage">
                    <p class="delivery-header-name">
                        <span>김경운</span>
                        님 안녕하세요
                    </p>
                    <a href="/delivery/myking">
                        <strong>MY킹 바로가기</strong>
                    </a>
                </div>
                <div class="header-util-wrap">
                    <a href="/index"><span class="header-option">브랜드홈</span></a>
                    <a href="/logout"><span class="header-logout">로그아웃</span></a>
                    <a href="/delivery/myking"><span class="header-option">MY킹</span></a>
                    <a href="#"><span class="header-option">고객센터</span></a>
                </div>
            </div>
        </div>
    </div>
    <script src="/static/js/include/delivery/delivery-header.js"></script>
</header>