<div class="delivery-personal-wrap" th:fragment="delivery-header-cart">
    <link rel="stylesheet" href="/static/css/include/delivery/delivery-header-cart.css">
    <div class="delivery-container">
        <div class="order-history">
            <a href="/delivery/orderlist">
                <div class="order-history-box">
                    <strong>딜리버리 주문내역</strong>
                    <span>주문내역이 없습니다.</span>
                </div>
            </a>
        </div>
        <div class="order-cart">
            <div class="order-cart-box">
                <div class="cart-count">
                    <strong>카트</strong>
                    <div class="count">
                        <span>1</span>
                    </div>
                </div>
                <span>카트에 담은 상품이 없습니다</span>
            </div>
        </div>
    </div>
    <script src="/static/js/include/delivery/delivery-header-cart.js"></script>
</div>