#container {
    background: none;
}

.wrap {
    margin-top: 168px;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrap-contents {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: black;
}

.location-wrap {
    margin: 0 auto;
    padding: 10px 20px;
    width: 1184px;
    height: 58px;
}

.wrap-container {
    width: 100%;
    height: 38px;
}

.container-nav {
    display: flex;
    align-items: center;
    height: 38px;
    gap: 12px;
}

.container-nav>a {
    font-size: .875rem;
    color: white;
    line-height: 38px;
    cursor: pointer;
}

.container-nav>img {
    position: relative;
    top: -2px;
}

.wrap-login {
    padding-top: 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.welcome-message {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 1144px;
}

.welcome-message>span {
    font-size: 2.5rem;
    line-height: 44px;
}

.welcome-message>span:first-child {
    margin-bottom: 11px;
    color: #e22219;
}

.login-ui {
    display: flex;
    align-items: flex-start;
    width: 1144px;
    padding: 45px 0 70px;
}

.login-form {
    padding-right: 5.23%;
    border-right: 1px solid #e5e5e5;
    display: flex;
    flex-direction: column;
    width: 50%;
}

.login-header {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    height: 40px;
    margin-bottom: 17px;
}

.login-header-logo {
    width: 40px;
    height: 40px;
}

.login-header-logo>img {
    width: 100%;
    height: 100%;
}

.login-header>span {
    font-size: 1.125rem;
    line-height: 40px;
}

.wrap-input {
    display: flex;
    flex-direction: column;
    padding: 10px 0 0 50px;
    width: 100%;
}

.input-box {
    position: relative;
    padding: 0 25px 3px 12px;
    width: 100%;
    height: 66px;
    background: url(/static/images/login_input_underline.png) repeat-x 0 100%;
}

.input-box>input {
    width: 100%;
    height: 100%;
    font-weight: 400;
    font-size: 1.5rem;
    border: none;
    outline: none;

}

.input-box>input::placeholder {
    color: rgb(205, 205, 205);
}

.input-box>img {
    display: none;
    position: absolute;
    top: 22px;
    right: 2px;
    cursor: pointer;
}

.password-visible.on {
    display: block;
}

.password-invisible.on {
    display: block;
}

.login-option {
    margin: 20px 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 25px;
}

.login-option>label {
    margin-right: 20px;
    display: flex;
}

.login-option>label>input {
    width: 0px;
    height: 0px;
}

.login-option>label>span {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.login-option>label>input+span::before {
    margin-right: 13px;
    content: '';
    display: inline-block;
    width: 25px;
    height: 25px;
    background-image: url(/static/images/login_unchecked.png);
}

.login-option>label>input:checked+span::before {
    margin-right: 13px;
    content: '';
    display: inline-block;
    width: 25px;
    height: 25px;
    background-image: url(/static/images/login_checked.png);
}

.buttons {
    margin: 30px 0;
    display: flex;
    align-items: center;
    width: 100%;
    height: 68px;
}

.buttons>a {
    padding: 12px 10px 10px;
    width: 216px;
    height: 100%;
    border-radius: 10px;
    text-align: center;
    font-size: 1.5rem;
    line-height: 46px;
    color: white;
}

.buttons>a:first-child {
    margin-right: 9px;
}

.login-button {
    background-color: #d72300;
}

.signup-button {
    background-color: #512314;
}

.find-info {
    display: flex;
}

.find-info>a {
    position: relative;
    padding: 5px 18px;
    font-size: 1.125rem;
    font-weight: 400;
}

.find-info>a:first-child {
    padding-left: 0;
}

.find-info>a:first-child::after {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    width: 1px;
    height: 18px;
    margin-top: -9px;
    background: #e8e8e8;
}

.social-logins {
    padding-left: 5.23%;
    display: flex;
    flex-direction: column;
    max-width: 485px;
}

.social-list {
    margin: 15px 0px 20px 46px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    max-width: 388px;
}

.social-list>a {
    display: flex;
    align-items: center;
    width: 338px;
    height: 64px;
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.16);
}

.social_logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 64px;
    height: 100%;
}

.social_logo>img {
    width: 30px;
    height: 30px;
}

.social-list>a>span {
    padding: 5px;
    width: 268px;
    height: 100%;
    border-left: 1px solid rgba(255, 255, 255, 0.2);
    font-size: 1.25rem;
    text-align: center;
    line-height: 54px;
}

.naver {
    background-color: #1ec800;
}

.naver>span {
    color: hsla(0, 0%, 100%, .8);
}

.kakao {
    background-color: #ffeb00;
}

.kakao>span {
    color: #3c1e20;
    border-left: 1px solid rgba(255, 255, 255, 0.6) !important;
}

.apple {
    background-color: black;
}

.apple>span {
    color: white;
}

.non-members-wrap {
    padding: 50px 0 45px 0;
    width: 100%;
    height: 465px;
    background-color: #f2ebe6;
    ;
}

.members-container {
    margin: 0 auto;
    padding: 20px 16px;
    width: 1152px;
    height: 370px;
}

.members-table-top {
    margin-bottom: 20px;
    width: 100%;
    height: 54px;
    overflow: auto;
}

.members-table-bottom {
    width: 100%;
    height: 256px;
}

.members-item {
    display: flex;
    justify-content: flex-start;
    width: 319px;
    height: 54px;
}

.order-item {
    padding-right: 14px;
    width: 130px;
    height: 54px;
}

.order-list {
    width: 188px;
    height: 54px;
    padding: 0 14px;
}

.order-button-left {
    width: 116px;
    height: 54px;
    border: none;
    color: #b8b8b8;
    background: inherit;
    cursor: pointer;
}

.order-button-left:hover {
    color: black;
}

.order-button-left.on {
    color: #e22219;
    border-bottom: 4px solid #e22219;
}

.order-button-left>span {
    font-size: 24px;
    font-weight: 600;
}

.order-button-right {
    width: 160px;
    height: 54px;
    border: none;
    color: #b8b8b8;
    background: inherit;
    cursor: pointer;
}

.order-button-right:hover {
    color: black;
}

.order-button-right.on {
    color: #e22219;
    border-bottom: 4px solid #e22219;
}

.order-button-right>span {
    font-size: 24px;
    font-weight: 600;
}

.members-table-bottom {
    width: 100%;
    height: 256px;
}

.non-members-order-list {
    display: none;
}

.non-members-order-list.on {
    display: block;
}

.non-members-order {
    margin: 18px 0 15px;
    padding: 57px 64px;
    width: 100%;
    height: 140px;
    background-color: white;
}

.non-members-order>p {
    font-size: 22px;
}

.non-members-button {
    display: flex;
    justify-content: center;
    margin-top: 52px;
    width: 100%;
    height: 76px;
}

.non-members-order-button {
    display: flex;
    justify-content: center;
    padding: 20px 10px 22px;
    width: 272px;
    height: 76px;
    line-height: 34px;
    border-radius: 10px;
    background-color: #512314;
}

.non-members-order-button>span {
    font-size: 26px;
    font-weight: 600;
    color: white;
}

.non-members-order-history {
    display: none;
    margin: 18px 0px 15px;
    padding: 35px 64px;
    width: 100%;
    height: 169px;
    background-color: white;
}

.non-members-order-history.on {
    display: block;
}

.order-form {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.order-form>div {
    display: flex;
    align-items: center;
}

.order-numbers {
    padding: 5px 10px 26px 0;
    width: 120px;
    height: 99px;
    font-size: 22px;
    font-weight: 600;
    line-height: 99px;
}

.order-numbers-input {
    position: relative;
    padding: 0 25px 3px 5px;
    width: 340px;
    height: 68px;

}

.order-list-inputbox {
    display: flex;
    justify-content: space-between;
    width: 340px;
    height: 68px;
}

.order-list-inputbox>input {
    outline: none;
}

.order-list-inputbox>img {
    position: absolute;
    display: none;
    top: 16px;
    left: 315px;
    width: 30px;
    height: 26px;
    cursor: pointer;

}

.order-list-inputbox>input {
    width: 340px;
    height: 68px;
    border: none;
    font-size: 24px;
    line-height: 24px;
    color: black;
    background: url(/static/images/login_input_underline.png) no-repeat bottom;
}