@import url('https://fonts.googleapis.com/css2?family=Jua&family=Titan+One&display=swap');


.wrapper {
    position: relative;
    background: #fff;
    margin: 0 auto;
    padding: 168px 0 272px;
}

.btn-top {
    position: fixed;
    right: 200px;
    bottom: 316px;
    width: 52px;
    height: 52px;
    text-indent: -9999em;
    z-index: 1;
    background: url(/static/images/top-logo.png);
}

.header-wrap {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 168px;
    background: rgb(226, 34, 25);
    z-index: 2;
}

.header {
    position: relative;
    padding: 48px 20px 0 20px;
    margin: 0 auto;
    max-width: 1184px;
}

.header-menu {
    display: inline-block;
    position: absolute;
    top: 10px;
    right: 10px;

}

.top-menu {
    position: relative;
    display: block;
    float: left;
    height: 48px;
    font-size: 14px;
    line-height: 48px;
    padding: 0px 14px;
    color: #fff;
}

.top-menu:not(:nth-child(1))::before {
    content: "";
    position: absolute;
    left: 0px;
    top: 50%;
    width: 1px;
    height: 13px;
    margin-top: -6.5px;
    background: hsla(0, 0%, 100%, .3);
}

.logo {
    display: inline-block;
    position: static;
    width: auto;
    height: 120px;
    padding-left: 80px;
    padding-right: 10px;
    font-weight: 700;
    font-size: 2.25rem;
    color: rgb(255, 255, 255);
    text-indent: 0px;
    line-height: 120px;
    cursor: pointer;
    background: url(/static/images/burgerking-logo.png) 0px center no-repeat;
}

.user {
    position: absolute;
    right: 20px;
    bottom: 36px;
    min-height: 46px;
    padding: 3px 0 3px 57px;
    color: #fff;
    background: url(/static/images/user.png) no-repeat 0;
}

.user a {
    margin-top: 3px;
    padding-right: 16px;
    font-weight: 700;
    color: #fff;
    background: url(/static/images/myking-direct.png) no-repeat 100%;
    cursor: pointer;
}

.head-list {
    margin-top: 168px;
    width: 100%;
    height: 124px;
    font-size: 1.375rem;
    background: url(/static/images/blackboard.gif) repeat-x top;
}

.blackboard-list {
    position: relative;
    height: 100%;
    max-width: 1184px;
    margin: 0 auto;
    padding: 0 20px;
}

.blackboard-list::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 0;
    width: 3px;
    height: 100%;
    margin-left: -1.5px;
    background: url(/static/images/chalk.png)no-repeat 50%;
}

.delivery-order {
    position: absolute;
    top: 30%;
    min-height: 56px;
    padding-left: 110px;
    color: #fff;
    background: url(/static/images/delivery.png) no-repeat 0;
    cursor: pointer;
}

.delivery-order p a {
    margin-top: 10px;
    font-size: 1.125rem;
    color: #fff;
}

.cart {
    position: absolute;
    right: 0;
    top: 30%;
    width: 41%;
    padding-left: 95px;
    color: #fff;
    background: url(/static/images/cart.png) no-repeat 0;
    cursor: pointer;
}

.cart p a {
    margin-top: 10px;
    font-size: 1.125rem;
    color: #fff;
}








.location {
    height: 58px;
    color: rgb(255, 255, 255);
    line-height: 38px;
    padding: 10px 0px;
    background: rgb(0, 0, 0);
}

.main-location {
    display: flex;
    justify-content: space-between;
    max-width: 1184px;
    margin: 0px auto;
    padding: 0px 20px;
}

.page-nav {
    font-size: 14px;
}


.menu-list {
    display: flex;
}

.location-menu {
    color: white;
}

.location-menu:not(:first-child)::before {
    content: "";
    float: left;
    width: 4px;
    height: 38px;
    margin: 0px 12px;
    background: url(/static/images/next.gif) 50% center no-repeat;
    color: rgb(255, 255, 255);
}

.destination {
    display: flex;
    float: right;
    font-size: .875rem;
}

.address {
    display: flex;
    max-width: 200px;
    margin: 0;
    padding: 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.address img {
    line-height: 10px;
}

.destination span {
    display: flex;
}

.btn {
    display: flex;
    margin-left: 20px;
    padding-left: 0;
}

.btn a {
    width: 56px;
    height: 34px;
    padding: 0;
    font-size: 1rem;
    color: #000;
    text-align: center;
    line-height: 34px;
    background: #fff;
    border-radius: 5px;
}

.btn a span {
    margin: 2px 0 0 13px;
}

.membership {
    margin: 0 auto;
    padding: 50px 20px 45px 20px;
    max-width: 1184px;
    background-color: #fff;

}

.membership-title {
    position: relative;
    margin-bottom: 26px;
}

.membership-tit {
    padding: 20px 0 23px;
    border-bottom: 3px solid #000;
    margin-bottom: 15px;
    font-size: 2.5rem;
    line-height: 100%;
    font-weight: 700;

}

.myhistory {
    display: flex;
    padding: 16px 0 30px;
    overflow: hidden;
}

.membership-info {
    width: 34%;
}

.user-info {
    font-size: 1.875rem;
}

.user strong {
    margin-right: 0.5em;
    font-weight: bold;
}

.links a {
    display: inline-block;
    margin-top: 15px;
    margin-right: 10px;
    padding: 5px 35px 5px 0;
    font-weight: 700;
    font-size: 1.375rem;
    background: url(/static/images/next1.png) no-repeat 90%;
}

.coupon-info {
    display: flex;
    width: 66%;
    font-size: 1.875rem;
    cursor: pointer;
}

.coupon-info>:before {
    content: "";
    position: absolute;
    margin-top: 10px;
    left: 20px;
    top: 0;
    width: 60px;
    height: 60px;
}

.info-membership-welcome {
    position: relative;
    padding-left: 100px;
    width: 33%;
    border-left: 2px solid #f2f2f2;
}

.info-membership-welcome::before {
    background: url(/static/images/welcome.png) no-repeat 50%;
}

.info-membership-welcome span {
    font-size: 1.375rem;
    opacity: .7;
}

.welcome {
    margin-top: 7px;
    line-height: 100%;
    font-size: 1.375rem;
}

.info-membership-coupon {
    position: relative;
    padding-left: 100px;
    width: 40%;
    border-left: 2px solid #f2f2f2;
}

.info-membership-coupon::before {
    background: url(/static/images/coupon.png) no-repeat 50%;
}

.info-membership-coupon span {
    font-size: 1.375rem;
    opacity: .7;
}

.coupon {
    margin-top: 7px;
    line-height: 100%;
    font-size: 1.4rem;
}

.info-membership-order {
    position: relative;
    padding-left: 100px;
    width: 33%;
    border-left: 2px solid #f2f2f2;
}

.info-membership-order::before {
    background: url(/static/images/order.png) no-repeat 50%;
}

.info-membership-order span {
    font-size: 1.375rem;
    opacity: .7;
}

.order {
    margin-top: 27px;
    line-height: 100%;
    font-size: 1.375rem;
}

.all-contentsBox {
    background-color: #f2ebe6;
}

.contentsBox01 {
    padding: 70px 16px 320px 16px;
    max-width: 1184px;
    height: 100%;
    margin: 0 auto;
}

.contents01 {
    display: flex;
    max-width: 1184px;
    margin: 0 auto;
}


.grade {
    flex: 1 0 300px;
    max-width: 300px;
    font-size: 40px;
    text-align: center;
    background: #f8f8f8;
}

.level {
    margin-top: 90px;
    font-family: 'Titan One', cursive;
    font-weight: 400;
    line-height: 1;
}

.level-wrap {
    flex: 1 0;
    padding: 30px 78px 30px 65px;
    background: #f8f8f8;
}

.level-graph {
    padding-top: 60px;
    position: relative;
    width: calc(100% - 60px);
}

.pointer {
    position: absolute;
    top: 0;
    background: url(/static/images/pointer.png) no-repeat bottom;
    width: 46px;
    height: 60px;
    background-size: 46px auto;
    transform: translateX(-24px);
    text-indent: -9999px;
}

.bar {
    height: 20px;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    background-color: #f5ebdc;
}

.progress {
    top: 60px;
    height: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    position: absolute;
    left: 0;
    background-color: #fa0;
}

.member-smallball {
    display: block;
    position: absolute;
    right: -59px;
    top: 40px;
    width: 60px;
    height: 60px;
    background-size: 60px auto;
    background-image: url(/static/images/new.png);
}

.level-info {
    margin-top: 16px;
    font-size: 22px;
    text-align: center;
}

.level-add {
    font-size: 26px;
    margin-top: -2px;
    font-family: 'Titan One', cursive;
    font-weight: 400;
}

.level-next {
    font-size: 26px;
    margin-top: -2px;
    font-family: 'Titan One', cursive;
    font-weight: 400;
}

.contents02 {
    margin: 0 auto;
}

.nav-membership {
    margin-top: 50px;
    margin-bottom: 20px;
    overflow: auto;
}

.nav-membership ul {
    display: table;
}

.nav-membership li {
    position: relative;
    display: table-cell;
    padding: 0 14px;
}

.nav-membership li.on button {
    color: #e22219;
    border-bottom-color: #e22219;
}

.nav-membership li button {
    height: 54px;
    padding: 10px 0;
    display: inline-block;
    font-size: 1.375rem;
    border: 0 solid transparent;
    border-width: 4px 0;
    font-weight: 700;
    cursor: pointer;
    background: inherit;
    color: #b8b8b8;
}

.nav-membership button:hover {
    color: black;
}


.level-class {
    position: relative;
    padding: 10px 20px 55px;
    margin: 15px 0;
    font-size: 1.375rem;
    background: #fff;
    text-align: center;
}


.benefits {
    display: none;
    justify-content: center;
    margin: 0 auto;
    padding: 0 50px;
}

.benefits.on {
    display: flex;
    flex-wrap: wrap;
}

.item-welcome-coupon {
    flex: 1 0 270px;
    width: 400px;
    position: relative;
    padding: 110px 10px 0;
    margin-top: 50px;
    background: url(/static/images/crown.png) no-repeat;
    background-position: center 10px;
}

.item-birthday {
    flex: 1 0 196px;
    width: 400px;
    position: relative;
    padding: 110px 10px 0;
    margin-top: 50px;
    background: url(/static/images/birthday.png) no-repeat;
    background-position: center 10px;
}

.item-coupon-ticket {
    flex: 1 0 196px;
    min-width: 270px;
    position: relative;
    padding: 110px 10px 0;
    margin-top: 50px;
    background: url(/static/images/ticket.png) no-repeat;
    background-position: center 10px;
}

.item-levelup {
    flex: 1 0 196px;
    min-width: 270px;
    position: relative;
    padding: 110px 10px 0;
    margin-top: 50px;
    background: url(/static/images/levelup.png) no-repeat;
    background-position: center 10px;
}

.item-level {
    flex: 1 0 196px;
    min-width: 270px;
    position: relative;
    padding: 110px 10px 0;
    margin-top: 50px;
    background: url(/static/images/crown.png) no-repeat;
    background-position: center 10px;
}

.item-americano {
    flex: 1 0 196px;
    min-width: 270px;
    position: relative;
    padding: 110px 10px 0;
    margin-top: 50px;
    background: url(/static/images/amerino.png) no-repeat;
    background-position: center 10px;
}

.guide-title {
    position: relative;
    margin: 25px 0;
    padding: 12px 0;
    font-size: 1.5rem;
    border-bottom: 2px solid #000;
    font-weight: 400;
}

.list01 {
    margin: 7px 0 7px 5px;
    line-height: 167%;
}

.list01 li {
    position: relative;
    padding-left: 12px;
}

.list01>li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 12px;
    height: 1.67em;
    background: url(/static/images/dot.png) no-repeat 0;
}

.line {
    padding: 0;
    margin: 10px 0 0 0;
    border-top: 1px solid #502314;
}

.line>:not(:last-child) {
    padding: 10px 0;
    border-bottom: 1px solid #d7c8b5;
}

.line>li strong::after {
    content: " : ";
}

.line-subtitle {
    margin-top: 10px;
    font-size: .93em;
    font-weight: 600;
}

.list02 {
    margin: 7px 0 7px 5px;
    line-height: 167%;
}

.list02>li {
    position: relative;
    padding-left: 8px;
    font-size: .93em;
}

.list02>li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 10px;
    width: 4px;
    height: 1px;
    background: #6e3d2f;
}

.text {
    font-size: .875rem;
    margin: 15px 10px;
    line-height: 129%;
}

.graph {
    padding-left: 20px;
}

.table {
    position: relative;
    margin: 0 0 10px;
    width: 100%;
    font-size: .93rem;
    text-align: center;
    line-height: 150%;
    border-collapse: collapse;
}

.table::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 1px;
    background: #502314;
}

.table thead th {
    padding: 11px 1px 7px;
    font-weight: 600;
    border-left: 1px solid #d7c8b5;
    border-bottom: 1px solid #d7c8b5;
}

.table thead th:first-child {
    border-left: none;
}

.table tbody td {
    padding: 10px 0;
    border-left: 1px solid #d7c8b5;
    border-bottom: 1px solid #d7c8b5;
}

.table tbody td:first-child {
    border-left: none;
}

.guide-coupon {
    position: relative;
    margin: 25px 0;
    padding: 12px 0;
    font-size: 1.5rem;
    border-bottom: 2px solid #000;
    font-weight: 400;
}

.guide-coupon h5 {
    font-weight: 900;
    font-size: 1em;
}

.guide-coupon ul {
    margin: 7px 0 7px 5px;
    line-height: 167%;
}

.list03>li {
    position: relative;
    padding-left: 12px;
}

.list03>li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 12px;
    height: 1.67em;
    background: url(/static/images/dot.png) no-repeat 0;
}

.excluded-store {
    position: relative;
    margin: 25px 0;
    padding: 12px 0;
    font-size: 1.5rem;
    border-bottom: 2px solid #000;
    font-weight: 400;
}

.excluded-store h5 {
    font-weight: 900;
    font-size: 1em;
}


.footer-contents {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 272px;
}

.footer-under {
    background: #2b0200;
    height: 100%;
}

.footer-detail {
    margin: 0 auto;
    position: relative;
    max-width: 1144px;
    height: 255.39px;
    padding: 47px 0;
}

.footer-service {
    position: absolute;
    top: 42px;
    right: 0;
}

.footer-service>ul {
    width: 280px;
    height: 24px;
}

.footer-service>ul>li {
    display: inline-block;
}

.footer-service>ul>li>a {
    position: relative;
    display: inline-block;
    padding: 5px 10px;
    color: #bba391;
}


.footer-service ul li a::before {
    content: "";
    position: absolute;
    left: 0;
    top: 30%;
    width: 1px;
    height: 12px;
    background: hsla(0, 0%, 100%, .1);
}

.footer-service>li>li>a>span {
    font-size: 14px;
}


.footer-btn>a {
    display: inline-block;
    margin: 12px 0 0 3px;
    padding: 0 32px;
    color: #f5ebdc;
    border: 1px solid rgba(187, 163, 143, .6);
    border-radius: 16px;
    line-height: 30px;
}

.footer-logo {
    margin-bottom: 14px;
    width: 168px;
    height: 20px;
}

.footer-detail>p {
    padding: 2px 0;
    color: #bba391;
}

.footer-detail>:nth-last-child(3) {
    margin-bottom: 20px;
}

.footer-line {
    display: inline-block;
    margin: 0 6px;
    width: 1px;
    height: 12px;
    line-height: 12px;
    background: #bba391;
    vertical-align: middle;
}