.modal-full-pop-wrap {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
    z-index: 100;
}

.modal-full-pop-wrap.on {
    display: block;
}

.menu-modal-box {
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 568px;
    max-height: 95%;
    margin-left: -284px;
    background: #f2ebe6;
    transform: translateY(-50%);
}

.menu-modal-box.on {
    display: block;
}

.modal-header-wrap {
    position: relative;
    border-bottom: 1px solid #f2f2f2;
}

.modal-header-title {
    height: 104px;
    padding: 20px 70px 20px 40px;
    font-size: 2rem;
    line-height: 63px;
    background: #fff;
}

.modal-close-button {
    position: absolute;
    right: 0;
    top: 0;
    width: 100px;
    height: 100%;
    background: url(/static/images/modal-close-button.png) no-repeat 50%;
    border: none;
    cursor: pointer;
}

.modal-content-box {
    max-height: 670px;
    overflow-y: auto;
}

.product-introduce {
    position: relative;
    height: 308px;
    background: url(/static/images/modal-background.gif) no-repeat 50%;
    background-size: 100% 100%;
    overflow: hidden;
    color: #fff;
}

.introduce-text-box {
    position: absolute;
    top: 50%;
    left: 38px;
    width: 45%;
    max-width: 220px;
    transform: translateY(-50%);
    word-wrap: normal;
    word-break: keep-all;
    z-index: 1;
}

.product-title {
    display: block;
    font-size: 2.7rem;
    line-height: 100%;
    letter-spacing: 2px;
}

.product-subtext {
    margin-top: 14px;
    font-size: 1.125rem;
    line-height: 140%;

}

.product-image-box {
    position: absolute;
    right: 0;
    top: 50%;
    bottom: auto;
    width: 371px;
    height: 243px;
    margin: -121.5px -55px 0;
}

.product-image-box>img {
    display: inline;
    opacity: 1;
    max-width: 100%;
    max-height: 100%;
    vertical-align: top;
}

.menu-sub-list {
    padding: 30px 38px;
}

.menu-sub-list li {
    position: relative;
    margin-bottom: 14px;
    padding: 0 210px 0 30px;
    background: #fff;
    box-shadow: 0 1px 2px rgb(0 0 0 / 3%);
    cursor: pointer;
}

.menu-sub-image-box {
    position: absolute;
    right: 0;
    top: 50%;
    width: 182px;
    height: 119px;
    margin-top: -59.5px;
}

.menu-sub-image-box>img {
    max-width: 100%;
    max-height: 100%;
    vertical-align: top;
}

.menu-sub-list-content {
    min-height: 105px;
    padding: 30px 0;
    color: #2e2e2e;
}

.submenu-title {
    margin-bottom: 7px;
    font-size: 1.7rem;
}

.set {
    margin: 6px 0 10px;
    color: #2e2e2e;
}

.submenu-price {
    font-size: 1.7rem;
}

.submenu-price span {
    color: #e22219;
}

.side-modal-box,
.drink-modal-box {
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 568px;
    max-height: 95%;
    margin-left: -284px;
    background: #f2ebe6;
    transform: translateY(-50%);
}

.side-modal-box.on,
.drink-modal-box.on {
    display: block;
}

.modal-sidemenu-content-box,
.modal-drink-content-box {
    max-height: 580px;
    padding: 24px 40px;
    overflow: auto;
    background: #f7f2ef;
}

.menu-change,
.drink-change {
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    font-size: 1.125rem;
    text-align: center;
    overflow: hidden;
}

.menu-change>li,
.drink-change>li {
    position: relative;
    width: 33.3%;
    height: 190px;
}

.menu-change-image-box .drink-change-image-box {
    max-width: 152px;
    height: 100px;
    margin: 0 auto;
}

.menu-change-image-box>img {
    display: inline;
    opacity: 1;
    max-width: 100%;
    vertical-align: top;
}

.drink-change-image-box>img {
    display: inline;
    opacity: 1;
    max-width: 90%;
    vertical-align: top;
}

.menu-change-content-box,
.drink-change-content-box {
    min-height: 4em;
    padding: 0 5px;
    word-break: keep-all;
}


.list-check {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    vertical-align: middle;
}

.list-check input {
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    border: none;
    border-radius: 0;
}

input[type=radio] {
    vertical-align: middle;
    font-size: 1em;
    border: none;
    border-radius: 0;
}

.list-check input:checked+span {
    background: url(/static/images/list-check.png) no-repeat 53% 5%;
    opacity: 1;
}

.list-check input+span {
    display: block;
    width: 100%;
    height: 100%;
}

.choice {
    display: inline-block;
    padding: 20px 10px;
    width: 100%;
    height: 84px;
    font-size: 2rem;
    color: #fff;
    text-align: center;
    line-height: 44px;
    border: none;
    background: #d72300;
    cursor: pointer;
}

.btn-top {
    position: fixed;
    bottom: 316px;
    right: 20px;
    width: 52px;
    height: 52px;
    background: url(/static/images/btn-top.png) no-repeat 0 0;
    z-index: 50;
    opacity: 1;
    display: inline;
}