.cart-main-container {
    margin: 0 auto;
    width: 100%;
}

.nav-wrap {
    padding: 10px 0;
    width: 100%;
    height: 58px;
    background-color: black;
}

.contents-box {
    padding: 50px 0 45px;
    width: 100%;
}

.web-container {
    margin: 0 auto;
    padding: 0 20px;
    width: 1184px;
}


.subject-wrap {
    margin-bottom: 38px;
    width: 1144px;
    height: 40px;
}

.subject-wrap>h2 {
    font-size: 45px;
}

.benefit-guide-bar {
    position: relative;
    margin-bottom: 10px;
    padding-top: 32px;
    width: 1144px;
    height: 100px;
    text-align: center;
    background: url(/static/images/bunefit_bar.png);
}

.benefit-guide-bar::before {
    position: absolute;
    z-index: 1;
    content: "";
    left: 0;
    top: 0;
    width: 110px;
    height: 100%;
    background: url(/static/images/benefit_sidebar.png) no-repeat;
    background-size: auto 100%;
}

.benefit-guide-bar>strong {
    color: white;
    font-size: 36px;
    line-height: 45px;
}

.container-cart-wrap {
    padding: 20px 0;
    width: 1144px;
}

.all-check-wrap {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
    padding-right: 60px;
    width: 100%;
    height: 32px;
}

.all-check {
    vertical-align: middle;
    font-size: 1.5rem;
    color: rgba(0, 0, 0, .4);
}

.all-check-wrap input {
    margin-right: 7px;
}

input[type=checkbox] {
    position: absolute;
    margin: 0;
    left: 0;
    width: 125px;
    height: 30px;
    font-size: 1em;
    border: none;
    border-radius: 0;
    opacity: 0;
    z-index: 1;
}

input[type=checkbox]+:before {
    content: "";
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-right: 13px;
    vertical-align: middle;
}

input[type=checkbox]+:before {
    background: url(/static/images/checkbox.png) no-repeat 0;
}

input[type=checkbox]:checked+:before {
    background-image: url(/static/images/checkbox-1.png);
}

.all-check>input:checked+:before {
    background-image: url(/static/images/checkbox-1.png);
}

.all-check>input:checked+span {
    color: #000;
}

.all-check>input+:before {
    width: 32px;
    height: 32px;
    background-image: url(/static/images/checkbox.png);
}

.all-check>span {
    display: flex;
    align-items: center;
}

.delete-button-box {
    position: absolute;
    right: 0;
    top: -5px;
}

.delete-button-box>button {
    padding: 5px 10px;
    margin-left: 22px;
    height: 44px;
    border-radius: 5px;
    font-size: 20px;
    letter-spacing: 1px;
    border: none;
    color: white;
    background-color: #2e2e2e;
}

.menu-count:before {
    content: "(";
}

.menu-count:after {
    content: ")";
}

.cart-list-box {
    width: 100%;
    background-color: white;
}

.cart-list-box>li {
    position: relative;
}

.menu-content-box {
    padding: 32px 64px 0;
    width: 100%;
}

.menu-title-wrap {
    position: relative;
    padding: 50px 320px 20px 0;
    width: 1016px;
    height: 214px;
    border-bottom: 1px dashed #e5e5e5;
}

.menu-title-wrap input+:before {
    position: absolute;
    left: 0;
    top: 3px;
}

.menu-name>input+:before {
    width: 32px;
    height: 32px;
    background-image: url(/static/images/checkbox.png);
}

.menu-name {
    position: relative;
    display: block;
    padding-left: 50px;
    width: 696px;
    height: 88px;
}

.menu-title {
    display: block;
    margin-bottom: 10px;
    line-height: 100%;
    font-size: 40px;
    letter-spacing: 1px;
}

.price-box {
    margin-top: 13px;
    width: 646px;
    height: 35px;
    font-size: 32px;
}

.menu-img-box {
    position: absolute;
    right: 0;
    bottom: 10px;
    width: 254px;
    height: 191px;
}

.menu-img-box>img {
    width: 100%;
    height: 100%;
}



.set-menu-detail {
    padding: 33px 0 23px;
    width: 1016px;
    border-bottom: 1px dashed #e5e5e5;
}

.additional {
    display: block;
    position: relative;
    padding: 14px 0 14px 0;
}

.additional.on {
    display: block;
}

.set-menu-detail>ul>:first-child {
    position: relative;
    display: flex;
    align-items: center;
}

.additional-box span {
    font-size: 22px;
}

.additional>span {
    padding-right: 10px;
    float: left;
    width: 130px;
    font-size: 22px;
    color: #737373;
}

.additional-list {
    width: 682px;
    font-size: 23px;
}

.additional-list-button {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    padding: 5px 10px;
    width: 72px;
    height: 44px;
    background-color: #2e2e2e;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.additional-list-button>span {
    width: 36px;
    height: 21px;
    font-size: 23px;
    color: white;
}

.side-menu-list {
    padding-right: 100px;
    display: flex;
    justify-content: space-between;
}

.quantity {
    position: absolute;
    display: flex;
    left: 64px;
    bottom: 60px;
    width: 265px;
    height: 39px;
}

.quantity>strong {
    width: 130px;
    height: 100%;
    line-height: 39px;
    font-size: 22px;
}

.num-set {
    display: flex;
    width: 135px;
    height: 39px;
    border-radius: 4px;
    box-shadow: 0 1px 2px rgb(0 0 0 / 10%);
}

.num-set>input {
    padding-left: 13px;
    width: 100%;
    height: 100%;
    font-size: 18px;
    text-align: center;
    border: none;
    outline: none;
}

.btn-minus {
    min-width: 39px;
    min-height: 39px;
    border: none;
    background-color: #d9d9d9 !important;
    background: url(/static/images/btn-minus.png) no-repeat 50%;
    cursor: pointer;
}

.btn-plus {
    min-width: 39px;
    min-height: 39px;
    border: none;
    background-color: #d9d9d9 !important;
    background: url(/static/images/bth_plus.png) no-repeat 50%;
    cursor: pointer;
}

.sum-wrap {
    display: table;
    padding: 12px 64px 12px 572px;
    width: 100%;
    height: 143px;
}

.sum-wrap>div {
    display: table-row;
    height: auto;
    width: 100%;
}

.sum-wrap>div>span {
    display: table-cell;
    height: 24px;
    vertical-align: middle;
    font-size: 23px;
    text-align: right;
}

.sum-wrap>div>div {
    display: table-cell;
    padding-left: 20px;
    width: 40%;
    height: 24px;
    text-align: right;
    vertical-align: middle;
    font-size: 1.8rem;
    color: #e2231a;
}



.all-sum-wrap {
    display: flex;
    margin-top: 20px;
    padding: 12px 55px 12px 44px;
    height: 96px;
    background-color: white;
}

.total-order-amount {
    display: inline-block;
    width: 506px;
    height: 72px;
    font-size: 30px;
    font-weight: 600;
    line-height: 75px;
}

.total-order-amount-sum {
    display: inline-block;
    text-align: end;
    padding-left: 20px;
    width: 538px;
    height: 72px;
    line-height: 72px;
    font-size: 32px;
    color: #e22219;
}

.delete-button {
    position: absolute;
    right: 0;
    top: 0;
    width: 80px;
    height: 80px;
    border: none;
    cursor: pointer;
    background: url(/static/images/delete-button.png) no-repeat 50%;
}

.cart-info {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-top: 45px;
    width: 100%;
    height: 53px;
}

.cart-info-text {
    margin: 7px 0 7px 5px;
    width: 689px;
    height: 53px;
}

.cart-info-text>li {
    list-style: disc;
}


.order-buttons {
    position: relative;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 80px;
    width: 452px;
    height: 68px;
}

.menu-add-button {
    margin-left: 10px;
    padding: 12px 10px 10px;
    width: 216px;
    height: 68px;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 28px;
    font-weight: 600;
    background-color: #512314;
    cursor: pointer;
}

.menu-order-button {
    margin-left: 10px;
    padding: 12px 10px 10px;
    width: 216px;
    height: 68px;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 28px;
    font-weight: 600;
    background-color: #d72300;
    cursor: pointer;
}

.menu-add-button:after {
    content: "";
    position: absolute;
    right: 55%;
    top: 50%;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    background: url(/static/images/menu_plus.png) no-repeat 100%;
}