header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 50;
    width: 100%;
}

.header-main {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 168px;
    background: #e22219;
}

.header-main-menu {
    position: relative;
    width: 1184px;
}

.header-container {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1144px;
    height: 168px;
    padding: 48px 20px 0;
}

.burgerking-logo {
    padding: 0 10px 0 80px;
    line-height: 120px;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 2px;
    color: white;
    background: url("/static/images/logo_delivery.png") no-repeat 0;
}

.mypage {
    position: absolute;
    right: 20px;
    bottom: 36px;
    min-height: 46px;
    padding: 3px 0 3px 57px;
    color: #fff;
    background: url(/static/images/mypage.png) no-repeat 0;

}

.mypage>a {
    margin-top: 3px;
    padding-right: 16px;
    color: #fff;
    background: url(/static/images/mypage_arrow.png) no-repeat 100%;
}

.header-util-wrap {
    position: absolute;
    top: 0;
    right: 20px;
    height: 48px;
}

.header-option {
    padding: 0 14px;
    font-size: 0.875rem;
    color: #fff;
    line-height: 48px;
}

.header-util-wrap span {
    font-size: 15px;
}

.header-util-wrap>a {
    position: relative;
}

.header-util-wrap>a:last-child .header-option {
    padding-right: 0;
}

.header-util-wrap>a:not(:last-child)>span::after {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -6.5px;
    width: 1px;
    height: 13px;
    background: #e84e47;
}

.header-join {
    text-align: center;
    top: auto;
    right: 20px;
    bottom: 35px;
    width: 168px;
    height: 50px;
    font-weight: 400;
    font-size: 20px;
    color: #fff;
    border-radius: 25px;
    line-height: 50px;
    background: #512314;
}


.delivery-personal-wrap {
    height: 124px;
    font-size: 25px;
    color: #fff;
    background: url(/static/images/delivery_background.gif);
}

.delivery-container {
    position: relative;
    margin: 0 auto;
    padding: 0 20px;
    width: 1184px;
    height: 100%;
}

.delivery-container:before {
    content: "";
    position: absolute;
    left: 50%;
    top: 0;
    width: 3px;
    height: 100%;
    margin-left: -1.5px;
    background: url(/static/images/delivery-container-line.png) no-repeat 0;
}

.order-history {
    position: absolute;
    left: 20px;
    top: 20%;
    min-height: 56px;
    padding-left: 110px;
    background: url(/static/images/order_bike.png) no-repeat 0;
}

.order-history-box {
    display: flex;
    flex-direction: column;
}

.order-history-box>span {
    margin-top: 10px;
    font-size: 1.125rem;
    line-height: 167%;
}

.order-cart {
    position: absolute;
    right: 0;
    top: 25%;
    width: 41%;
    padding-left: 95px;
    background: url(/static/images/delivery_cart.png) no-repeat 0;
}

.order-cart-box {
    display: flex;
    flex-direction: column;
}

.cart-count {
    display: flex;
}

.count {
    height: 30px;
    margin-left: 14px;
    padding: 0 20px;
    font-size: 16px;
    color: #fff;
    line-height: 30px;
    text-align: center;
    background: #e22219;
    border-radius: 15px;
}

.order-cart-box>span {
    font-size: 1.125rem;
    line-height: 167%;
}


.delivery-menu-container {
    padding: 50px 0 45px;
    background: #fff;
}



footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}


.footer-under {
    width: 100%;
    height: 272px;
    background-color: #512314;
}

.footer-detail {
    margin: 0 auto;
    position: relative;
    max-width: 1144px;
    height: 255.39px;
    padding: 47px 0;
}

.footer-service {
    position: absolute;
    top: 42px;
    right: 0;
}

.footer-service>ul {
    width: 280px;
    height: 24px;
}

.footer-service>ul>li {
    display: inline-block;
}

.footer-service>ul>li>a {
    position: relative;
    display: inline-block;
    padding: 5px 10px;
    color: #bba391;
}


.footer-service ul li a::before {
    content: "";
    position: absolute;
    left: 0;
    top: 30%;
    width: 1px;
    height: 12px;
    background: hsla(0, 0%, 100%, .1);
}

.footer-service>li>li>a>span {
    font-size: 14px;
}

.footer-btn {}

.footer-btn>a {
    display: inline-block;
    margin: 12px 0 0 3px;
    padding: 0 32px;
    color: #f5ebdc;
    border: 1px solid rgba(187, 163, 143, .6);
    border-radius: 16px;
    line-height: 30px;
}

.footer-logo {
    margin-bottom: 14px;
    width: 168px;
    height: 20px;
}

.footer-detail>p {
    padding: 2px 0;
    color: #bba391;
}

.footer-detail>:nth-last-child(3) {
    margin-bottom: 20px;
}

.footer-line {
    display: inline-block;
    margin: 0 6px;
    width: 1px;
    height: 12px;
    line-height: 12px;
    background: #bba391;
    vertical-align: middle;
}