header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 50;
    width: 100%;
}

.header-main {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 168px;
    background: #e22219;
}

.header-main-menu {
    position: relative;
    width: 1184px;
}

.header-container {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1144px;
    height: 168px;
    padding: 48px 20px 0;
}

.burgerking-logo {
    padding: 0 10px 0 80px;
    line-height: 120px;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 2px;
    color: white;
    background: url("/static/images/logo_delivery.png") no-repeat 0;
}

.mypage {
    position: absolute;
    right: 20px;
    bottom: 36px;
    min-height: 46px;
    padding: 3px 0 3px 57px;
    color: #fff;
    background: url(/static/images/mypage.png) no-repeat 0;

}

.mypage>a {
    margin-top: 3px;
    padding-right: 16px;
    color: #fff;
    background: url(/static/images/mypage_arrow.png) no-repeat 100%;
}

.header-util-wrap {
    position: absolute;
    top: 0;
    right: 20px;
    height: 48px;
}

.header-option,
.header-logout {
    padding: 0 14px;
    font-size: 0.875rem;
    color: #fff;
    line-height: 48px;
}

.header-util-wrap span {
    font-size: 15px;
}

.header-util-wrap>a {
    position: relative;
}

.header-util-wrap>a:last-child .header-option {
    padding-right: 0;
}

.header-util-wrap>a:not(:last-child)>span::after {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -6.5px;
    width: 1px;
    height: 13px;
    background: #e84e47;
}