#footer-wrap {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 680px;
    background: #2b0200;
}

.footer-menu {
    display: flex;
    justify-content: center;
    padding: 0 20px;
    width: 100%;
    height: 388px;
}

.menu {
    display: flex;
    width: 1144px;
    padding-top: 50px;
    border-bottom: 1px solid #bba391;
}

.footer-submenu>li {
    width: 228.8px;
    height: 32px;
}

.footer-submenu>li>a {
    font-size: 18px;
    color: #bba391;
}

.subtitle {
    margin-bottom: 25px;
    display: inline-block;
    height: 29px;
    font-size: 27px;
    line-height: 25px;
    color: #f5ebdc;
}

.footer-under {
    width: 100%;
    height: 272px;
}

.footer-detail {
    margin: 0 auto;
    position: relative;
    max-width: 1144px;
    height: 255.39px;
    padding: 47px 0;
}

.footer-service {
    position: absolute;
    top: 42px;
    right: 0;
}

.footer-service>ul {
    width: 280px;
    height: 24px;
}

.footer-service>ul>li {
    display: inline-block;
}

.footer-service>ul>li>a {
    position: relative;
    display: inline-block;
    padding: 5px 10px;
    color: #bba391;
}


.footer-service ul li:not(:first-child) a::before {
    content: "";
    position: absolute;
    left: 0;
    top: 30%;
    width: 1px;
    height: 12px;
    background: hsla(0, 0%, 100%, .1);
}

.footer-service>li>li>a>span {
    font-size: 14px;
}

.footer-btn {}

.footer-btn>a {
    display: inline-block;
    margin: 12px 0 0 3px;
    padding: 0 32px;
    color: #f5ebdc;
    border: 1px solid rgba(187, 163, 143, .6);
    border-radius: 16px;
    line-height: 30px;
}

.footer-logo {
    margin-bottom: 14px;
    width: 168px;
    height: 20px;
}

.footer-detail>p {
    padding: 2px 0;
    color: #bba391;
}

.footer-detail>:nth-last-child(3) {
    margin-bottom: 20px;
}

.footer-line {
    display: inline-block;
    margin: 0 6px;
    width: 1px;
    height: 12px;
    line-height: 12px;
    background: #bba391;
    vertical-align: middle;
}